* {
  font: 500 16px Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}